<h1>New group</h1>
<div id="login_box">
<% form_for @group, :url => groups_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Create" %>
<% end %>
</div>
<%= link_to 'Back', groups_path %>
